@charset "UTF-8";

@font-face {
  font-family: "tm-icons";
  src:url("../fonts/tm-icons.eot");
  src:url("../fonts/tm-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/tm-icons.woff") format("woff"),
    url("../fonts/tm-icons.ttf") format("truetype"),
    url("../fonts/tm-icons.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "tm-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="tm-"]:before,
[class*=" tm-"]:before {
  font-family: "tm-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tm-book:before {
  content: "\e000";
}
.tm-calendar:before {
  content: "\e001";
}
.tm-lock:before {
  content: "\e002";
}
.tm-links:before {
  content: "\e003";
}
.tm-shop:before {
  content: "\e004";
}
.tm-spanner:before {
  content: "\e005";
}
.tm-support:before {
  content: "\e008";
}
.tm-magic:before {
  content: "\e009";
}
.tm-chat:before {
  content: "\e00a";
}
.tm-check:before {
  content: "\e00b";
}
.tm-map-marker:before {
  content: "\e00c";
}
.tm-user:before {
  content: "\e00d";
}
.tm-medal:before {
  content: "\e00e";
}
.tm-cup:before {
  content: "\e00f";
}
.tm-volume:before {
  content: "\e010";
}
.tm-zoom:before {
  content: "\e011";
}
.tm-mixer:before {
  content: "\e012";
}
.tm-diagram:before {
  content: "\e013";
}
.tm-envelope:before {
  content: "\e014";
}
.tm-mobile:before {
  content: "\e015";
}
.tm-movie:before {
  content: "\e016";
}
.tm-gear:before {
  content: "\e017";
}
.tm-globe:before {
  content: "\e018";
}
.tm-paper:before {
  content: "\e019";
}
.tm-pencil:before {
  content: "\e01a";
}
.tm-go-in:before {
  content: "\e01b";
}
.tm-graph:before {
  content: "\e01c";
}
.tm-picture:before {
  content: "\e01d";
}
.tm-print:before {
  content: "\e01e";
}
.tm-group:before {
  content: "\e01f";
}
.tm-home:before {
  content: "\e020";
}
.tm-search:before {
  content: "\e021";
}
